#Exclude the following files for DataFlex Projects
####################################
*.bak
*.cch
*.err
*.dep
*.prn
*.fld
*.pbg
*.pdp
*.pkd
*.prp
*.dbg
*.log
*.zip
*.old
*.fd
*.tag
*.exe.manifest

# Visual Studio noise (wrapper projects etc.)
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ship wrapper DLLs (binary-only distribution)
!Bin/SpellCheckWrapper.dll
!Bin64/SpellCheckWrapper.dll

#
Programs/*.xlsx
Programs/*.xlst
Programs/*.xls
Programs/*.xlt
Programs/*.xltx
programs/*.log
programs/*.exe
programs/*.dbg
Programs/x86/SpellCheckWrapper.dll
Programs/SpellCheckWrapper.dll
#
idesrc/*
#
####################################
#personal preference
####################################
Data/*.cch
Data/*.hdr
Data/*.dat
Data/*.k??
Data/*.k?
!Data/codemast*
!Data/codetype*

Help/*.chm
New/*

Pkg/diff.bat
Pkg/diff.txt
Reports/Cache/*

AppSrc/TestView.src
AppSrc/config/classlist.xml
AppSrc/LoginEncryptionKey.inc

!DDSrc/codemast*
!DDSrc/codetype*
